@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<FluentHeader>
    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
        <a href="/" style="text-decoration: none; color: white;">Sportiva</a>
        <FluentSpacer />
        <FluentIcon Value="@(new Icons.Regular.Size20.Person())" Color="Color.Lightweight"
                    @onclick="@(() => NavigationManager.NavigateTo("/login"))" />
    </FluentStack>
</FluentHeader>
