@page "/counter"
@rendermode InteractiveServer

<PageTitle>Sportiva - Contador</PageTitle>

<h1>Contador</h1>

<FluentStack Orientation="Orientation.Vertical">
	<FluentCard Width="206px">
		Actual: <FluentBadge Appearance="Appearance.Neutral">@Count</FluentBadge>
	</FluentCard>

	<FluentStack Orientation="Orientation.Horizontal">
		<FluentButton Appearance="Appearance.Accent" @onclick="() => Count++">Incrementar</FluentButton>
		<FluentButton Appearance="Appearance.Accent" @onclick="() => Count--">Decrementar</FluentButton>
	</FluentStack>
</FluentStack>

@code {
	private int Count = 0;
}
