@page "/eventos"

<PageTitle>Sportiva - Eventos</PageTitle>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center">
	<h3>Eventos</h3>
</FluentStack>

<FluentGrid Spacing="2">
	@for (var index = 0; index < 3; index++)
	{
		<FluentGridItem>
			<FluentCard Width="250px" Height="350px">
				<FluentStack Orientation="Orientation.Vertical">
					<img src="images/events/eco_trail_by_dexter.jpg" style="width: 100%; height: 150px; object-fit: cover; object-position: center;" />

					<h3>EcoTrail</h3>

					<FluentStack Orientation="Orientation.Vertical" Style="background-color: var();">
						<span>a</span>
					</FluentStack>
				</FluentStack>
			</FluentCard>
		</FluentGridItem>
	}
</FluentGrid>
