@page "/users"
@using Microsoft.Data.SqlClient
@using SportivaWeb.Models
@inject IConfiguration Configuration
@rendermode InteractiveServer

<PageTitle>Sportiva - Usuarios</PageTitle>

<h1>Usuarios</h1>

<FluentDataGrid Items="@UsersData">
    <PropertyColumn Title="ID"
                    Property="@(u => u.Id)"
                    Sortable="true"
                    Width="100px" />
    <PropertyColumn Title="Email"
                    Property="@(u => u.Email)"
                    Sortable="true" />
    <TemplateColumn Title="Contraseña">
        <span>••••••••</span>
    </TemplateColumn>
</FluentDataGrid>

@code {
    private IQueryable<User> UsersData = Enumerable.Empty<User>().AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        List<User> userList = new();

        using (var connection = new SqlConnection(Configuration.GetConnectionString("DefaultConnection")))
        {
            await connection.OpenAsync();
            var command = new SqlCommand("SELECT Id, Email, Password FROM Users", connection);

            using var reader = await command.ExecuteReaderAsync();
            while (await reader.ReadAsync())
            {
                userList.Add(new User()
                {
                    Id = reader.GetInt32(0),
                    Email = reader.GetString(1),
                    Password = reader.GetString(2)
                });
            }
        }

        UsersData = userList.AsQueryable();
    }
}
