@page "/menu/reportes/usuarios"
@using SportivaWeb.Models
@using SportivaWeb.Services
@rendermode InteractiveServer

<PageTitle>Sportiva - Reportes de usuarios</PageTitle>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center"
             Style="margin: 12px 0">
    <h2>Reportes de usuarios</h2>
</FluentStack>
