@page "/menu/reportes/inscripciones"
@using SportivaWeb.Models
@using SportivaWeb.Services
@rendermode InteractiveServer

<PageTitle>Sportiva - Reportes de inscripciones</PageTitle>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center"
             Style="margin: 12px 0">
    <h2>Reportes de inscripciones</h2>
</FluentStack>
