@page "/menu/eventos/{Id:int}"
@using SportivaWeb.Models.DB;
@using SportivaWeb.Services;
@inject IEventosService eventosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Sportiva - Evento</PageTitle>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center"
             Style="margin: 12px 0">
    <h2>Configuración de evento:</h2> <h2 style="font-weight: normal">@evento.Nombre</h2>
</FluentStack>

<FluentStack Orientation="Orientation.Vertical">
    <FluentButton Appearance="Appearance.Accent"
                  @onclick="@(() => navigationManager.NavigateTo($"/menu/eventos"))">
        Volver
    </FluentButton>

</FluentStack>

@code {
    [Parameter]
    public int Id { get; set; }

    private EventoModel evento = new();

    protected override async Task OnInitializedAsync()
    {
        evento = (await eventosService.ObtenerAsync(Id))!;
    }
}
