@page "/menu/usuarios"
@inject IRolesService rolesService
@inject IUsuariosService usuariosService
@using SportivaWeb.Models
@using SportivaWeb.Services
@rendermode InteractiveServer

<PageTitle>Sportiva - Usuarios</PageTitle>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center"
             Style="margin: 12px 0">
	<h2>Usuarios</h2>
</FluentStack>

<FluentDataGrid Items="usuarios.AsQueryable()" Pagination="paginacion">
    <PropertyColumn Property="o => o.Id" Sortable="true" />
    <PropertyColumn Property="o => o.Nombre" Sortable="true" />
    <PropertyColumn Property="o => o.Email" Sortable="true" />
    <PropertyColumn Property="o => roles[o.Rol]" Title="Rol" Sortable="true" />
</FluentDataGrid>

<FluentPaginator State="paginacion" />

@code {
    private List<UsuarioModel> usuarios = [];
    private Dictionary<int, string> roles = [];
    private PaginationState paginacion = new() { ItemsPerPage = 10 };

    protected override async Task OnInitializedAsync()
    {
        usuarios = await usuariosService.ObtenerListaAsync();
        roles = await rolesService.ObtenerDiccionarioAsync();
    }
}
