@page "/cuenta/sesion-cerrada"

<PageTitle>Sportiva - Sesión Cerrada</PageTitle>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center">
    <span>Sesión cerrada. <a href="/">Seleccione acá para redirigir al inicio.</a></span>
</FluentStack>
