@page "/cuenta/sesion-cerrada"

<PageTitle>Sportiva - Sesión Cerrada</PageTitle>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center"
             Style="margin: 12px 0">
    <h3>
        Sesión cerrada. <a href="/">Seleccione acá para redirigirse al inicio.</a>
    </h3>
</FluentStack>
