@page "/eventos/{Id:int}"
@using SportivaWeb.Models.DB;
@using SportivaWeb.Services;
@inject IEventosService eventosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Sportiva - Evento</PageTitle>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center">
    <h2>Información de evento:</h2> <h2 style="font-weight: normal">@evento.Nombre</h2>
</FluentStack>

<FluentStack Orientation="Orientation.Vertical">
    <FluentButton Appearance="Appearance.Accent"
                  @onclick="@(() => navigationManager.NavigateTo($"/"))">
        Volver
    </FluentButton>

    <FluentButton Appearance="Appearance.Accent"
                  @onclick="@(() => navigationManager.NavigateTo($"/eventos/{Id}/inscripcion"))">
        Inscribirse
    </FluentButton>
</FluentStack>

@code {
    [Parameter]
    public int Id { get; set; }

    private EventoModel evento = new();

    protected override async Task OnInitializedAsync()
    {
        var eventos = await eventosService.ObtenerAsync();

        evento = eventos.First(e => e.Id == Id);
    }
}
