@page "/eventos"
@using SportivaWeb.Models.DB;
@using SportivaWeb.Services;
@inject IEventosService eventosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Sportiva - Eventos</PageTitle>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center">
    <h1>Eventos</h1>
</FluentStack>

<FluentStack>
    <FluentGrid Spacing="2">
        @foreach (var evento in eventos)
        {
            <FluentGridItem>
                <FluentCard Width="250px">
                    <FluentStack Orientation="Orientation.Vertical">
                        <FluentStack Orientation="Orientation.Vertical">
                            <FluentStack Orientation="Orientation.Vertical"
                                         VerticalGap="0">
                                <h4 style="margin-bottom: 6px;">@evento.Nombre</h4>
                                <span><strong>Ubicación:</strong> @evento.Ubi</span>
                            </FluentStack>
                        </FluentStack>
                        <FluentSpacer />
                        <FluentStack Orientation="Orientation.Horizontal"
                                     HorizontalAlignment="HorizontalAlignment.Center">
                            <FluentButton Appearance="Appearance.Accent"
                                          @onclick="@(() => navigationManager.NavigateTo($"/eventos/{evento.Id}"))">
                                Información
                            </FluentButton>
                        </FluentStack>
                    </FluentStack>
                </FluentCard>
            </FluentGridItem>
        }
    </FluentGrid>
</FluentStack>

@code {
    private List<EventoModel> eventos = [];

    protected override async Task OnInitializedAsync()
    {
        eventos = await eventosService.ObtenerAsync();
    }
}
